<%= stylesheet_link_tag 'admin/admins' %>
<div class="index-content" style="padding-top: 80px;">
  <div class="container"">
    <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="form-user style-1 rounded has-shadow-1 text-cente">
            <!-- <div class="form-headerr"> -->
                <h2>Sign up to <span class="my-gallery">My Gallery</span> Admin</h2>
            <!-- </div> -->
            <div class="form-body" style="padding-top: 60px;">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <%= devise_error_messages! %>
              <div class="form-row" style="margin-bottom: 10px;">
                <div class="col">
                  <h5 style="font-size: 18px">First name</h5>
                  <%= f.text_field :first_name, class:"form-control", placeholder:"First name"%>
                </div>
                <div class="col">
                  <h5 style="font-size: 18px">Last name</h5>
                  <%= f.text_field :last_name, class:"form-control", placeholder:"Last name"%>
                </div>
              </div>
              <div class="form-row" style="margin-bottom: 10px;">
                  <h5 style="font-size: 18px">Email</h5>
                  <%= f.email_field :email, class:"form-control", placeholder:"Email"%>
              </div>
              <div class="form-row" style="margin-bottom: 10px;">
                <div class="col">
                  <h5 style="font-size: 18px">Password</h5>
                  <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Password" %>
                </div>
                <div class="col" style="margin-top: 28px;">
                  <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Password confirmation" %>
                </div>
              </div>
              <div class="form-group" style="padding-top: 40px;">
                  <%= f.submit "Sign up", class:"btn btn-outline-secondary btn-lg btn-block btn-base-1 mt-20" %>
              </div>
              <% end %>
            </div>
          </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>