<%= stylesheet_link_tag 'user/my_galleries' %>
<div class="my-gallery-show">
  <div class="index-content" style="padding-top: 80px;">
    <div class="container" >
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center" style="font-size: 50px; padding-bottom: 30px;">
            Visit list
          </h1>
            <div class="google-maps" style="margin-bottom: 50px;">
              <div id="map"></div>
                <script type="text/javascript">
                function initMap() {
                    var locations = [
                         <% @visits.each do |visit| %>
                          ["<%= visit.work.holder.location %>", <%= visit.work.holder.latitude %>,<%= visit.work.holder.longitude %>],
                         <% end %>
                    ];
                    var map = new google.maps.Map(document.getElementById('map'), {
                         zoom: 4,
                         center: new google.maps.LatLng(48.860611,2.337644),
                         mapTypeId: google.maps.MapTypeId.ROADMAP
                    });

                    var infowindow = new google.maps.InfoWindow;
                    var marker, i;

                    for (i = 0; i < locations.length; i++) {
                        marker = new google.maps.Marker({
                             position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                             map: map
                        });

                        google.maps.event.addListener(marker, 'click', (function(marker, i) {
                             return function() {
                                 infowindow.setContent(locations[i][0]);
                                 infowindow.open(map, marker);
                             }
                        })(marker, i));
                    }
                }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHymA7LhYFLCqSKLZQ5icXK1-ouiAJuww&callback=initMap">
                </script>
            </div>
            <hr>
            <h3 style="padding-top: 30px;">List of Works</h3>
            <div class="visit-list" style="padding-top: 10px; margin-bottom: 80px; width: 100%; height: 400px; overflow:auto;">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Location</th>
                    <th scope="col">Visited on</th>
                  </tr>
                </thead>
                <% @visits.each do |visit| %>
                <tbody>
                  <tr>
                    <td><div class="visit-img-box">
                      <%= attachment_image_tag visit.work, :img, format:'jpeg', class: "visit-img" %>
                    </div></td>
                    <td><%= visit.work.title %></td>
                    <td><%= visit.work.author %></td>
                    <td class="col-xs-2"><%= visit.work.holder.location %></td>
                    <td>
                      <% if visit.visited_at.present? %>
                        <%= visit.visited_at %>
                      <% else %>
                        <%= form_for visit, url: user_visit_path(@user, visit.id), method: :put do |f| %>
                        <%= f.date_field :visited_at, class: 'form-control' %>
                        <%#= link_to "Visited", _path metho: :post, class: "btn btn-outline-secondary" %>
                        <%= f.submit "Visited", class: "btn btn-outline-secondary" %>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

