<%= stylesheet_link_tag 'admin/works' %>
<div class="index-content" style="padding-top: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Add new location</h2>
          <div class="form-body">
          <%= form_for @holder, url: admin_holders_path, method: :post do |f| %>
            <div class="form-group" style="padding-top: 50px;">
              <h5>Location</h5>
              <%= f.text_field :location, class: "form-control" %>
            </div>
            <div class="form-group text-center" style="padding-top: 50px;">
              <%= f.submit "Submit", class: "btn btn-md btn-outline-secondary" %>
            </div>
          <% end %>
          <table class="table" style="margin-top: 80px;">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Location</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
              </tr>
            </thead>
            <tbody>
              <% @holders.each do |holder| %>
              <tr>
                <th scope="row"><%= holder.id %></th>
                <td><%= holder.location %></td>
                <td><%= holder.latitude %></td>
                <td><%= holder.longitude %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>